@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button @onclick="IncrementCount">Click</button>
<div>Count: @count</div>
@code{
    int count = 0;
    void IncrementCount()
    {
        count++;
    }
}